.bold:hover {
  color: black;
  font-weight: bold;
}

.center {
  text-align: center;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.projects__content {
  position: relative;
  box-shadow: 12px 12px 12px 0px #cdcdcd4d;
  border-radius: 10px;
  background-color: var(--container-color);
  padding: 1.5rem;
}

.projects__icon {
  display: block;
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.projects__btn {
  color: var(--title-color);
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.projects__btn-icon {
  font-size: 1rem;
}

.projects__btn-right-icon {
  transition: 0.3s;
}

.projects__btn:hover .projects__btn-right-icon {
  transform: translateX(00.25rem);
}

/* card */
.card {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-image {
  width: 60%;
  padding: 10px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 8.5s ease;
  cursor: pointer;
}

.image-container:hover img {
  transform: translateY(-73%);
  object-position: bottom;
}

.card-content {
  width: 40%;
  padding: 10px;
  float: left;
}

/* card responsive */
@media (max-width: 768px) {
  /* Responsive styles for medium devices */
  .card {
    width: 100%;
    display: block;
  }

  .card-image {
    flex-direction: column;
  }

  .card-image,
  .card-content {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* Responsive styles for small devices */
  .card {
    width: 100%;
  }

  .card-image {
    flex-direction: column;
  }

  .card-image,
  .card-content {
    width: 100%;
  }
}

/* modal */
.projects__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transform: 0.3s;
}

.projects__modal-content {
  width: 60%;
  height: 70vh;
  position: relative;
  background-color: var(--container-color);
  padding: 2.5rem;
  border-radius: 1.5rem;
  overflow-y: scroll;
}

/* modal scrollbar */
.projects__modal-content::-webkit-scrollbar {
  width: 10px;
}

.projects__modal-content::-webkit-scrollbar-track {
  background: transparent;
}

.projects__modal-content::-webkit-scrollbar-thumb {
  background: #8a7878;
  border-radius: 5px;
}

.projects__modal-content::-webkit-scrollbar-thumb:hover {
  background: #423f3f;
}

.projects__modal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.projects__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.project_modal_techs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 20px;
}

.projects__modal-feature-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.projects__modal-description {
  font-size: var(--small-font-size);
  /* padding: 0 3.5rem; */
  margin-bottom: var(--mb-1);
}
.project_modal_tech {
  background-color: #ebeaea;
  padding: 5px 10px;
  color: #78746f;
  font-size: 14px;
  border-radius: 5px;
}

.projects__modal-features {
  row-gap: 0.7rem;
}

.projects__modal-feature {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.projects__modal-icon {
  color: var(--title-color);
  font-size: 1.1rem;
}

.projects__modal-info {
  font-size: var(--small-font-size);
}

.modal-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* active modal */
.active__modal {
  visibility: visible;
  opacity: 1;
}

/* For Webkit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #8a7878;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #423f3f;
}

/* modal responsive */
@media screen and (max-width: 350px) {
}

@media screen and (max-width: 768px) {
  .projects__modal-content {
    width: 90%;
  }
}
